export PROJECT_ID=homerunner-337209
export CONFIG_NAME=personal

export GOOGLE_IMPERSONATE_SERVICE_ACCOUNT="terraform-machine-account@${PROJECT_ID}.iam.gserviceaccount.com"

gcloud config configurations activate ${CONFIG_NAME}

AWS_SHARED_CREDENTIALS_FILE="/Users/$USER/.aws/credentials"
PROFILE="default"
RED="\033[31m"
NC="\033[0m"
if ! grep -q "$PROFILE" "$AWS_SHARED_CREDENTIALS_FILE"; then printf "${RED}Missing' "$PROFILE"', profile is required in "$AWS_SHARED_CREDENTIALS_FILE"${NC}\n"; fi
export AWS_PROFILE="$PROFILE"

